@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

:root {
  --colorText: #9197b3;
  --font: "Poppins";
}

html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-family: var(--font);
}

ol,
ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  overflow: hidden;
  height: 100vh;
}

.logo {
  width: auto;
  height: auto;
  max-width: 100%;
}

.version{
  font-family: var(--font);
  font-size: 10px;
  color:#838383;

}

main {
  overflow-y: auto;
}

ul {
  list-style: none;
}

.wrapper {
  display: flex;
  height: 100vh;
  background: #fafbff;
}

aside {
  display: block;
  border-right: 1px solid #ededed;
  background: #fff;
  padding: 3rem 1.5rem;
  flex-basis: 20%;
  min-width: 306px;
  max-width: 306px;
}

.profile-block {
  position: absolute;
  left: 28px;
  bottom: 75px;
  font-family: var(--font);
  font-size: 14px;
}

.profile-image {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  margin-right: 12px;
}

.profile-text {
  display: flex;
  flex-direction: column;
  float: right;
}

.name {
  font-size: 14px;
  font-family: var(--font);
}

.role {
  font-size: 12px;
  color: #757575;
  font-family: var(--font);
}

aside ul {
  margin: 3rem 0 0;
  padding: 0;
}

main {
  flex-basis: 80%;
}

.wrapper_inner {
  margin: 0px auto;
  padding: 3rem;
  padding-left: 40px;
  padding-right: 40px;
}

.header-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 53px 40px 38px;
}

.header {
  font-size: 22px;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 7px;
}

.active {
  color: #16c098;
  font-size: 14px;
}

nav ul li a {
  padding: 0.8rem;
  margin: 0.3rem 0;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-start;
  vertical-align: middle;
  font-size: 14px;
  font-weight: 500;
  line-height: normal;
  color: var(--colorText);
  background: transparent url(../img/menu.png) no-repeat;
  background-position: 90%;
}

nav ul li a:hover {
  background: #5932ea url(../img/menu.png) no-repeat;
  background-position: 90%;
  border-radius: 15px;
  color: #fff;
  text-decoration: none;
}

nav ul li a:hover {
  color: #fff;
}

nav ul li a img {
  margin-right: 0.5rem;
}

.box {
  border-radius: 30px;
  margin-top: 45px;
  background: #fff;
  filter: drop-shadow(0px 10px 60px rgba(226, 236, 249, 0.5));
}

.table-block {
  padding: 0 22px;
  overflow: auto;
  width: 100%;
}

table {
  border: none;
  border-collapse: separate;
  border-spacing: 16px 0px;
  column-width: 100px;
  margin: 0;
  padding: 0;
  width: 100%;
}

table caption {
  font-size: 1.5em;
  margin: 0.5em 0 0.75em;
}

.tableHeader {
  position: relative;
  text-align: left;
  color: #b5b7c0;
  font-size: 14px;
  font-weight: 500;
}

.tableHeader::after {
  content: "";
  position: absolute;
  height: 1px;
  background-color: #eeeeee;
  bottom: 0px;
  left: -38px;
  right: 0px;
  width: calc(100% + 76px);
}

.tableHeader th {
  color: #b5b7c0;
  padding-bottom: 15px;
}

.tableRow {
  text-align: left;
  color: #292d32;
  font-size: 14px;
  font-weight: 500;
  border-bottom: 1px solid #eeeeee;
  position: relative;
}

.tableRow td {
  padding: 24px 0;
}

.tableRow:last-child {
  border-bottom: none;
}

table th,
table td {
  text-align: left;
  color: #292d32;
  font-size: 14px;
  font-weight: 500;
}

.pagination-block {
  margin-top: 32px;
  padding: 32px 40px 41px 38px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pagination-block p {
  font-family: var(--font);
  font-size: 14px;
  color: #b5b7c0;
}

.pagination {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 12px;
}

.pagination-btn {
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f5f5;
  font-size: 12px;
  border: 1px solid #eeeeee;
  border-radius: 4px;
}

.pagination-btn__active,
.pagination-btn:hover {
  color: #fff;
  background-color: #5932ea;
  border: 1px solid #5932ea;
}

.btn {
  font-family: var(--font);
  border-radius: 4px;
  padding: 4px 12px;
  text-align: center;
  letter-spacing: -1%;
  font-weight: 500;
  font-size: 14px;
  width: 80px;
  height: 29px;
}

.btn-modificar {
  border-radius: 4px;
  border: 1px solid #00b087;
  background: rgba(22, 192, 152, 0.38);
  color: #008767;
}

.btn-modificar:hover {
  background: rgb(53, 146, 84);
  color: #fff;
}

.btn-eliminar {
  border-radius: 4px;
  border: 1px solid #df0404;
  background: #ffc5c5;
  color: #df0404;
}

.btn-eliminar:hover {
  background: #e02525;
  color: #fff;
}

.form {
  display: block;
  max-width: 800px;
  margin: 0 auto;
}
input[type="text"],
input[type="email"],
input[type="tel"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type="submit"] {
  background-color: #04aa6d;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #45a049;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.alert {
  border: 1px solid #00b087;
  background: rgba(22, 192, 152, 0.38);
  color: #0e0e0e;
  font-weight: bold;
  text-align: center;
  display: block;
  margin-top: 3rem;
  padding: 1rem;
}

.alert .error {
  border: 1px solid #df0404;
  background: #ffc5c5;
  color: #df0404;
}

.menu {
  display: none;
  cursor: pointer;
}

#menu-btn {
  width: 25px;
  height: 25px;
  padding: 0;
  background-color: inherit;
  border: none;
  cursor: pointer;
}

#menu-btn img {
  width: 25px;
  height: 25px;
}

.search-bar {
  position: relative;
  align-items: center;
  width: 216px;
  height: 38px;
  
}

.search-bar input {
  width: 100%;
  border: none;
  font-family: var(--font);
  padding-left: 32px;
  font-size: 12px;
  background-color: #F9FBFF;
}

.search-bar .icon {
  position: absolute;
  left: 10px;
  width: 16px;
  height: 16px;
  margin-top: 17px;
}


@media screen and (max-width: 1000px) {
  .header-block {
    align-items: flex-start;
    flex-direction: column;
    gap: 8px;
  }
  .pagination-block {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 8px;
    
    
  }

  .pagination {
    display: flex;
    justify-content: center;
    gap: 8px;   
}
}

@media screen and (max-width: 740px) {
  .menu {
    display: block;
  }

  .wrapper {
    justify-content: center;
    
  }

  aside {
    position: absolute;
    left: 0;
    top: 0;
    height: 100vh;
    z-index: 999;
  }
}